#bunner{
    background-image: url(http://demo.tempload.com/jirono/assets/images/photos/parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 280px;
    &::before{
        content: '';
        position: absolute;
        width: 140%;
        height: 100%;
        opacity: .80;
        background: #585CE9;
        z-index: 2;
        top: 0%;
        left: -40%;
    }

    span{
        color: white;
       
    }
}
.relative{
    position: relative;
}