@import "./partials/variables";
@import "./partials/navbar";
@import "./partials/intro-main";
@import "./partials/future-section";
@import "./partials/cloud-service-section";
@import "./partials/bunner";
@import "./partials/our-team-section";
@import "./partials/pricing-section";
@import "./partials/parallax-text";
@import "./partials/latest-section";
@import "./partials/footer";
@import "./partials/about-html/parallax-test-2";
@import "./partials/about-html/future-section";
@import "./partials/about-html/mission-section";
@import "./partials/about-html/vision-section";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: $primary-color;
    font-family: 'Nunito Sans', sans-serif;
}

.transparant{
    left: 0px;
    right: 0px;
    top: 0px;
}

.scroll-icon{
    position: fixed;
    top: 90%;
    left: 90%;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.scroll-active{
    display: block !important;
}