#navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 700;
}

#navbar .nav-item {
  padding: 15px 0px;
}

#navbar .dropdown .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  width: 200px;
  height: 163px;
  margin-top: 20px;
  padding: 0px;
  border: none;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navbar .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

#navbar .dropdown .dropdown-item {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  line-height: 40px;
  letter-spacing: 1px;
  border: transparent;
  border-bottom: 1px solid #F7F6FF;
  padding-left: 20px;
  margin: 0px;
}

#navbar .dropdown .dropdown-item:active {
  background-color: unset !important;
}

#navbar .navlist-toggle {
  display: block;
  right: 20px;
  left: 260px;
}

#navbar .navList {
  margin-left: -250px;
  font-size: 14px;
  font-weight: 400;
}

#navbar .navList li a {
  font-family: 'Nunito', sans-serif;
  margin: 0px 20px;
  padding: 0px;
  color: #6F8BA4;
  font-weight: 400;
}

#navbar .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

#navbar .buttons li {
  list-style-type: none;
  margin: 25px 0px 0px 15px;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

#navbar .buttons li a {
  text-decoration: none;
}

#navbar .buttons .signIn a {
  padding: 7px 30px;
  color: #585CE9;
  border: 1px solid #585CE9;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  height: 32px;
  letter-spacing: 0.5px;
}

#navbar .buttons .signIn a:hover {
  background-color: #585CE9;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .buttons .signUp a {
  padding: 7px 30px;
  color: white;
  border: 1px solid #585CE9;
  background-color: #585CE9;
  border-radius: 5px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 0.5px;
}

#navbar .buttons .signUp a:hover {
  background-color: white;
  color: #585CE9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 992px) {
  #navbar .dropdown {
    position: relative;
  }
  #navbar .dropdown .dropdown-menu {
    position: absolute;
    left: 65%;
    top: 10px;
  }
  .navList {
    left: -7%;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 95%;
    width: 95%;
    background: white;
    border-radius: 5px;
  }
  .navList li a {
    margin: 0px 10px !important;
  }
  .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .buttons {
    display: none  !important;
  }
}

@media screen and (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .navList {
    position: absolute;
    left: -15%;
    width: 93%;
  }
  #navbar .dropdown .dropdown-menu {
    top: 11px;
    position: absolute;
    left: 90px;
  }
}

#intro {
  background-image: url(http://demo.tempload.com/jirono/assets/images/header-bg.svg);
  background-repeat: no-repeat;
  padding-top: 100px;
}

#intro .header-text {
  margin: 150px 0px;
}

#intro .header-text h1 {
  font-size: 30px;
  font-weight: 400px;
  color: #1E3056;
  font-weight: 400;
  line-height: 46px;
}

#intro .header-text h1 span {
  color: #585CE9;
}

#intro .header-text a {
  text-decoration: none;
  padding: 10px 33px;
  font-weight: 700;
  color: white;
  border: 1px solid #585CE9;
  background-color: #585CE9;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#intro .header-text a:hover {
  background-color: blue;
}

#intro .header-text p {
  font-weight: 400;
  line-height: 28px;
  color: #697BA2;
  letter-spacing: 1px;
  padding: 20px 0px 30px 0px;
}

#intro .item-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'item1 item2' 'item1 item4' 'item3 item4';
}

#intro .item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: item1;
}

#intro .item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item2;
}

#intro .item3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item3;
}

#intro .item4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: item4;
}

#intro .image {
  height: 100%;
  position: relative;
}

#intro img {
  width: 265px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#intro .item {
  margin: 6px;
  border-radius: 5px;
  overflow: hidden;
}

#intro .item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #585CE9;
  font-family: 'Nunito Sans', sans-serif;
}

.scroll-icon {
  position: fixed;
  top: 90%;
  left: 90%;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.scroll-active {
  display: block !important;
}
/*# sourceMappingURL=index.css.map */